.modal {
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: -50px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 99;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        max-height: 60vh;
        min-height: 5rem;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 100;
        overflow-y: auto;
        
        &::-webkit-scrollbar-thumb {
            background-color: #c1c1c1;
            border: 4px solid transparent;
            border-radius: 8px;
            background-clip: padding-box;  
          }
          
          &::-webkit-scrollbar {
            width: 16px;
          }
        
          &.zoomIn {
             animation: zoomIn 0.1s ease-in-out;
         }
        &.zoomOut {
            animation: zoomOut 0.1s ease-in-out;
        }    
        
        &.slide {
            animation: slide 0.15s ease-in-out;
        }        
        &.fade {
            animation: fade 0.3s ease-in-out;
        }   


        @keyframes zoomIn {
            0% {
                transform: translate(-50%, -50%) scale(.8);
            }
            100% {
                transform: translate(-50%, -50%) scale(1);
            }
        }        
        
        @keyframes zoomOut {
            0% {
                transform: translate(-50%, -50%) scale(1.3);
            }
            100% {
                transform: translate(-50%, -50%) scale(1);
            }
        }

        @keyframes slide {
            0% {
                transform: translate(-50%, 100%) ;
            }
            100% {
                transform: translate(-50%, -50%) ;
            }
        }

        @keyframes fade {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

}